root = true

[*]
insert_final_newline = true

[{*.sh,versions.env,packaging/**,test/**}]
end_of_line = lf

[*.sh]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2
